* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101820;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 1.5em 5%;
  position: sticky;
  top: 0;
  background-color: #101820;
  z-index: 1;
}

.logo img{
  display: flex;
  align-items: flex-start;
}

.menu-tab {
  display: flex;
  align-items: center;
  color: #fffbf0;
  text-decoration: none;
  font-weight: 600;
}

.menu-tab li{
  display: flex;
  margin-left: 4vw;
}

.menu-tab li:hover{
  text-decoration: underline;
  cursor: pointer;
}
