* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #101820;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 1.5em 5%;
  position: sticky;
  top: 0;
  background-color: #101820;
  z-index: 1;
}

.logo img{
  display: flex;
  align-items: flex-start;
}

nav a {
  display: inline-flex;
  align-items: center;
  color: #fffbf0;
  text-decoration: none;
  font-weight: 600;
  margin: 0 2vw;
}

nav a:hover{
  text-decoration: underline;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction h1{
  color: #ffff;
  font-size: 48px;
  font-weight: 800;
  margin: 1em 15% 0;
  text-align: center;
}

.introduction button{
background-color: #00aa13;
color: #fff;
border: none;
font-size: 18px;
border-radius: 30px;
padding: 0.8em 1.5em;
font-weight: 500;
margin: 2em 0;
}
